In [1]:
# Import Modules
import os
import csv

 # Import Dependencies
import pandas as pd
from pathlib import Path

In [2]:
# import CSV
csv_path = Path("Resources/budget_data.csv") 
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [3]:
# The total number of months included in the dataset
total_months = budget_df["Date"].count()
total_months

86

In [4]:
# The net total amount of "Profit/Losses" over the entire period
net_Profit_Losses = budget_df["Profit/Losses"].sum()
net_Profit_Losses

22564198

In [5]:
# The changes in "Profit/Losses" over the entire period, and then the average of those changes
average_change = budget_df["Profit/Losses"].diff().mean()
average_change.round(2)

-8311.11

In [6]:
# Create new column
budget_df["difference"] = budget_df["Profit/Losses"].diff()

In [7]:
# The greatest increase in profits (date and amount) over the entire period
max_increase = budget_df.loc[budget_df["Profit/Losses"].diff().idxmax()]
max_increase

Date                Aug-16
Profit/Losses       951227
difference       1862002.0
Name: 79, dtype: object

In [8]:
# The greatest decrease in profits (date and amount) over the entire period
max_decrease = budget_df.loc[budget_df["Profit/Losses"].diff().idxmin()]
max_decrease

Date                Feb-14
Profit/Losses      -946748
difference      -1825558.0
Name: 49, dtype: object

In [9]:
budget_df.describe()

       Profit/Losses    difference
count   8.600000e+01  8.500000e+01
mean    2.623744e+05 -8.311106e+03
std     6.244057e+05  8.896487e+05
min    -1.194133e+06 -1.825558e+06
25%    -1.944645e+05 -5.992100e+05
50%     4.528330e+05 -5.227500e+04
75%     7.494155e+05  6.311560e+05
max     1.141840e+06  1.862002e+06